.bg-color-sister-home {
  background-color: lightgreen;
}

.bg-color-other-home {
  background-color: lavender;
}

.fg-color-sister-home {
  background-color: aliceblue;
}

.fg-color-other-home {
  background-color: honeydew;
}

