<div class="container-fluid">

  <div class="row mt-5 offset-1">

    <!--Each House Content-->
    <ng-container *ngIf="houseData && houseData.length > 0">
      <div class="card col-md-5 m-2"
           [ngClass]="((eachHouse.street === referenceStreet) ? 'fg-color-sister-home' : 'fg-color-other-home')"
           *ngFor="let eachHouse of houseData; let idx = index">

        <!--Each House Header-->
        <h4 class="card-header mx-auto mt-3"
            [ngClass]="((eachHouse.street === referenceStreet) ? 'bg-color-sister-home' : 'bg-color-other-home')">
          {{(eachHouse.street === referenceStreet) ? 'Sister\'s House - ' + (idx + 1) : 'House - ' + (idx + 1)}}
        </h4>

        <!--Each House Main Body-->
        <div class="card-body">
          <h5 class="card-title">Address - {{eachHouse.street}}</h5>
          <p class="card-text">Number of Rooms - {{eachHouse.params.rooms || 'Unknown'}}</p>
          <p class="card-text">Price - {{eachHouse.params.value + ' €' || 'Unknown'}}</p>
          <p class="card-text">Distance from Sister's House - {{eachHouse.distance || 0}} km(s)</p>
        </div>
      </div>
    </ng-container>

    <!--No house meeting the required criteria-->
    <ng-container *ngIf="houseData.length == 0">
      <div class="card col-md-5 offset-3 fg-color-other-home">

        <!--No House Header-->
        <h4 class="card-header mx-auto mt-3 bg-color-other-home">
          House - 0
        </h4>

        <!--No House Main Body-->
        <div class="card-body mx-auto">
          <p class="card-text">No such house available.</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<br/>
<br/>
<br/>
